<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title></title>

    <link type="text/css" href="/vendor/soon-ui/theme/dark/site-dark.css" rel="stylesheet" />
    <link type="text/css" href="/vendor/soon-ui/theme/dark/metro-dark.all.css" rel="stylesheet" />
    <link type="text/css" href="/vendor/soon-ui/theme/viewpage/viewpage.all.css" rel="stylesheet" />
    <link type="text/css" href="/vendor/soon-ui/theme/color/ui.metro.Cyan.css" rel="stylesheet" id="highlight" />

    <link type="text/css" href="/vendor/font-awesome/font-awesome.css" rel="stylesheet" />
</head>
<body>
    <div id="loginWindow" style="visibility: hidden;">
        <img class="bgImage" src="../content/image/th.jpg" alt="uranus" />
        <div class="login-panel">
            <div class="panel-background"></div>
            <div class="panel-content">
                <h1 class="logo"></h1>
                <div class="form-content">
                    <form action="/" method="POST">
                        <label>用户名:</label>
                        <br />
                        <input class="input-text" type="text" id="username" name="username" tabindex="1" value="admin" />
                        <br />
                        <label>密码:</label>
                        <br />
                        <input class="input-text" type="password" id="password" name="password" tabindex="2" value="1" />
                        <br />
                        <div class="button-panel">
                            <input class="button background-highlight" type="submit" value="登录" tabindex="3" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="image-name"></div>
    </div>

    <script src="/vendor/soon-ui/soonui.dll.js"></script>
</body>
</html>